{% extends 'usercenter-fav-org.html' %}
{% load staticfiles %}
{% block message %}
    <div class="companycenter">
                    <div class="group_list brief">
                        {% for course in course_list %}
                            <div class="module1_5 box">
                            <a href="{% url 'course:course_detail' course.id %}">
                                <img width="214" height="190" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="course-detail.html"><h2>{{ course.namee }}</h2></a>
                                <span class="fl">时长：<i class="key">{{ course.courtime }}</i></span>
                                <span class="fr">学习人数：{{ course.studies }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.course_org.name }}</span>
                                <span class="delete-group fr jsDeleteFav_course" data-favid="12"></span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
{% endblock %}

